:root {
  --font-family: "Plus Jakarta Sans", sans-serif;

  --lime-color: hsl(61, 70%, 52%);
  --lime-200-color: hsl(61, 70%, 72%);
  --red-color: hsl(4, 69%, 50%);

  --light-color: hsl(0, 0%, 100%);
  --dark-color: hsl(0, 0%, 0%);

  --slate-100-color: hsl(202, 86%, 94%);
  --slate-200-color: hsl(203, 87%, 89%);
  --slate-300-color: hsl(203, 41%, 72%);
  --slate-400-color: hsl(203, 41%, 62%);
  --slate-500-color: hsl(200, 26%, 54%);
  --slate-600-color: hsl(200, 24%, 40%);
  --slate-700-color: hsl(200, 24%, 30%);
  --slate-800-color: hsl(200, 24%, 20%);
  --slate-900-color: hsl(202, 55%, 16%);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-200-color);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.mortgage {
  background-color: var(--slate-200-color);
  color: var(--light-color);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .mortgage {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

.mortgage-calculator {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  color: var(--slate-800-color);
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 50px 20px 50px;
}

@media screen and (min-width: 768px) {
  .mortgage-calculator {
    flex-direction: row;
    height: 70vh;
  }
}

.left-top,
.right-bottom {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-top .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.left-top .top .title {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--slate-800-color);
}

.left-top .top .clear {
  font-size: 0.8rem;
  color: var(--slate-400-color);
  cursor: pointer;
  border-bottom: 1px solid var(--slate-400-color);
}

.left-top .top .clear:hover {
  color: var(--slate-600-color);
  border-bottom-color: var(--slate-600-color);
}

.left-top .middle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left-top .middle form .middle-of-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.left-top .middle form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 10px 0;
}

.left-top .middle form .form-group label {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: var(--slate-400-color);
}

.left-top .middle form .form-group .input-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid var(--slate-400-color);
  border-radius: 5px;
  overflow: hidden;
}

.left-top .middle form .form-group .input-container:hover {
  border-color: var(--slate-600-color);
}

.left-top .middle form .form-group .input-container input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1.5rem;
  /* font-weight: bold; */
  color: var(--slate-700-color);
  padding: 5px;
  width: 100%;
  caret-color: var(--slate-400-color);
}

.left-top .middle form .form-group .input-container:focus-within {
  border-color: var(--lime-color);
}

.left-top .middle form .form-group .input-container input:focus + .static-text,
.left-top
  .middle
  form
  .form-group
  .input-container
  input:focus-within
  + .static-text,
.left-top
  .middle
  form
  .form-group
  .input-container
  input:focus
  + .static-text-1 {
  background-color: var(--lime-color) !important;
}

.left-top .middle form .form-group .input-container .static-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--slate-800-color);
  background-color: var(--slate-200-color);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.static-text-1 {
  height: 37px !important;
}

.left-top .middle form .error-message {
  font-size: 0.8rem;
  color: var(--red-color);
  margin: 0;
  margin-top: 5px;
  display: none;
}

.left-top .middle form .select-group {
  margin-top: 10px;
}

.left-top .middle form .select-group .mortgage-type {
  /* font-weight: bold; */
  font-size: 0.9rem;
  color: var(--slate-400-color);
  margin-bottom: 5px;
}

.left-top .middle form .select-group .option-1,
.left-top .middle form .select-group .option-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid var(--slate-400-color);
  padding: 10px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  color: var(--slate-700-color);
}

.left-top .middle form .select-group .option-1:hover,
.left-top .middle form .select-group .option-2:hover {
  border-color: var(--lime-color);
}

.left-top .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
  font-weight: bold;
  background-color: var(--lime-color);
  padding: 10px 20px;
  width: fit-content;
  border-radius: 50px;
  cursor: pointer;
  flex-shrink: 0;
}

.left-top .bottom:hover {
  background-color: var(--lime-200-color);
}

.right-bottom {
  background-color: var(--slate-900-color);
  color: var(--light-color);
  border-bottom-left-radius: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .right-bottom {
    border-bottom-left-radius: 0;
  }
}

.right-bottom .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.right-bottom .middle .title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--light-color);
}

.right-bottom .bottom .paragraph {
  font-size: 0.9rem;
  text-align: center;
  font-weight: lighter;
  color: var(--slate-300-color);
  max-width: 400px;
}

.result-card {
  background-color: var(--slate-800-color);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.result-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--lime-color);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.result-card-top {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.result-card-top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--slate-600-color);
}

.result-card-top-text,
.result-card-bottom-text {
  font-size: 0.8rem;
  color: var(--slate-300-color);
}

.result-card-top-value {
  font-size: 3rem;
  font-weight: bold;
  color: var(--lime-color);
  margin: 10px 0;
}

.result-card-bottom-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light-color);
  margin: 10px 0;
}
